
/* Font Family */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,700&family=Roboto:ital@1&display=swap');

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: small;
    font-style: normal;
  }

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

/* Default Settings */

* {
    margin: 0;
    padding: 0;
   
}
.container{
    width: 100%;
    height: 100%;
   
    
}

/* Top banner */
.top-banner {
    background-color: rgb(38, 118, 192);
}
.text-box{
    justify-items: center;
    
}
.text-box p {
    color: white;
    padding: 5px ;
}

/* Navigation BAR */
.navbar{
  margin-top: -20px;
  background-color: rgb(255, 255, 255);
}


.left-nav img{
    width: 155px;
}

.nav-list{
   padding-top: 15px;
   padding-right: 150px;
    list-style-type: none;
}
.nav-list li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.nav-menu:hover{
    text-decoration: underline;
    color:  rgb(38, 118, 192); 
}


.button{
    background-color: rgb(38, 118, 192) ;
    padding: 8px 8px;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
.button:hover{
    background-color: rgb(26, 6, 90);
    transition: 3s ease-out;
}

/* Main Section */

.left-container h1{
    font-family: "Poppins", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color: rgb(4, 4, 4) ;
    font-size: 60px;
   
}
.left-container img{
    margin-top: 20px;
    width: 200px;
}

.left-container a button{
    margin-top: 20px;
}

.right-container img {
 width: 800px;
}

/* Why choose us */

.big-container {
    align-content: center;
    justify-items: center;
    margin: 40px 130px;
}
.small-container{
   background-color: #fff;
    align-content: center;
    justify-items: center;
    margin-top: 40px;
    padding: 20px;
    gap: 30px;
}
.small-container:hover{
   
    background-color: rgb(221, 218, 218) ;
}
.c1{
    margin-top: 40px;
    align-content: center;
    justify-items: center; 
}

.c1 img{
    width: 300px;
}
.c1 h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(4, 4, 4) ;
    font-size: 40px;
}
#p{
    margin: -15px;
   }

   #br{
    margin-left: 30px;
    padding-left: 30px;
   }

   .small-container i {
    color:rgb(255, 132, 0) ;
   
   }
   .small-container p {
    margin-top: -20px;
   
   }
   .small-container h2 {
    color: rgb(38, 118, 192) ;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
   }

   /* Affiliations Section */

   .heading-container {
    margin-top: 130px;
    align-content: center;
    justify-items: center; 
   }

   .heading-container h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(4, 4, 4) ;
    font-size: 40px;
}

/* Companies Section */

.heading2-container {
    align-content: center;
    justify-items: center; 
   }
.heading2-container img {
  margin-bottom: 20px;
   }

.heading2-container p {
    margin-top: -20px;
   
   }

   .heading2 img{
    width: 600px;
    margin: 30px 20px;
   }

   /* About Secrtion */

   .about-img-container img {
    width: 600px ;
   }

.about-container h3 {
    font-weight: bold;
   }

.about-container {

 padding-top: 120px;
 }
 .about-container a{
    text-decoration: none;
 }
  

   /* Featured Section */
   .media {
    margin: 20px 200px;
    margin-bottom: 80px;
   }

   .feature1 {
    margin-top: 20px;
   }
   .feature1 img:hover {
       border-style: double;
   }
   .feature2 img:hover {
       border-style: double;
   }

   /* CTA Section */
.container-cta{
    background-color: rgba(1, 1, 1, 0.962);
    color: whitesmoke;
    padding: 40px 60px;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
}
.cta_image{
    margin-left: 30px;
}
.container-cta h1{
    display: grid;
    justify-content: center;
    align-items: center;
}

   /* Footer Section */

   footer{
    background-color:rgb(38, 118, 192)  ;
    padding: 20px 20px 10px 20px;

  }
    
  footer div{
    margin: 0px 20px;
    justify-content: space-between;
    
  }
  
  footer .box1{
    margin: 0vw 10vw 0vw 5vw;
  }

  footer .box2{
    margin-right: 10vw;
    justify-content: space-between;
  }
  
    
  footer h5{
    color: #fff;

  }
  footer p{
      color: rgb(167, 167, 167);
      font-size: 13px;
      cursor: pointer;
  }
  footer i{
    padding: 5px;
    background: #ffffff;
    border-radius: 50%;
    justify-content: space-between;
    margin: 2.5px;
    cursor: pointer;
  }
  footer .f{
    padding: 5px 8px;
  }

  .sub-footer{
    display: flex;
  }

  .copyright{
    margin-left: 10vw;
  }

  .sub-footer h6{
    margin-left: 30vw ;
    margin-right: 10vw;
    color: #fff;
  }
 