/* Font Family */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,700&family=Roboto:ital@1&display=swap');

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: small;
  }

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

/* Default Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    
    background: #ffffff;
    display: flex;
    margin: 0px 550px;
    justify-content: center;
    align-items: center;
    height: 100vh;

} */

.navbar {
    background-color: rgb(38, 118, 192) ;
}
.navbar h2{
    margin: 0px 600px;
   color: white;
   font-weight: 700;
}


main {
    
        background: #ffffff;
        display: flex;
        margin: 0px 550px;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
}


img{
  margin-left: 70px;
}

label {
  color: #8f8d8d;
}

.sign-up {
    margin-top: 10px;
  background-color: rgb(38, 118, 192) ;
  justify-content: center;
  align-items: center;
}
.sign-up h3 {
  padding: 0px 120px;
  color: white;
}


.button{
  background-color: rgb(38, 118, 192) ;
   margin-left: 10px;
    padding: 8px 8px;
    color: white;
    font-family: "Poppins", sans-serif;
}
.button:hover{
  background-color: rgb(26, 6, 90);
  transition: 2s ease-out;
}

.signup-form{
    padding: 10px 10px;
  
}
.signup-button
{
  margin: 0px 120px;
  gap: 10px;
}